# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.env
.venv
.python-version

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - PyCharm
.idea/
*.iws
*.iml
*.ipr

# IDE - Jupyter Notebook
.ipynb_checkpoints

# Coverage/Tests
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Poetry
poetry.lock
dist/

# Logs
*.log
logs/
log/

# Environment variables
.env
.env.local
.env.*.local

# Heroku
.heroku/
*.pyc
staticfiles/ 